
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

input[type="checkbox"] {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 10%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

input[type="checkbox"]:checked + label img {
    transform: scale(1.5);
}

